.seats{
    border: 1px solid #fff;
    padding: 0 23%;
    background-color: #292929;
}

.seat{
   display: flex;
    height: 5px;
    width: 5px;
    margin: 1px;   
}

.seat.reserved , .empty{
    background-color: #777;
    border: 1px solid #f6eb6f;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    
}

.seat.empty{
    background-color: #fff;
}


.seat:nth-of-type(3){
    margin-right: 16px;
}

.seat:nth-last-of-type(1){
    margin-right: 5px;
}

.row{
    display: flex;
}

.screen{
    background-color: #fff;
    height: 30px;
    width: 85%;
   
    margin: 10px 0;
    box-shadow: 0 3px 8px rgba(255, 255 ,255, 0.7);

}

.city-list{
    margin: 20px 0;
}

.info{
    background-color:#f6eb6f;
    padding: 15px 0px;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    width: 100%;
    height: 45%;   
}

.info li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    
}
